body {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    background-color: rgba(246, 247, 248, 1);
    max-width: 1440px;
    margin: 0 auto;
    overflow-x: hidden;
}

header {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 1);
    padding: 20px 40px 20px 348px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}

nav {
    padding-bottom: 64px;
    background-color: rgba(42, 54, 71, 1);
    width: 232px;
    height: auto;
    top: 0;
    left: 0;
    color: rgba(255, 255, 255, 1);
}

button {
    cursor: pointer;
}

.logo_navbar {
    width: 100px;
    padding-top: 64px;
    padding-bottom: 64px;
}

.header_icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user_circle {
    font-weight: 700;
    border-radius: 50%;
    border-style: solid;
    border-color: rgba(42, 54, 71, 1);
    border-width: 3px;
    width: 56px;
    height: 56px;
    color: rgba(41, 171, 226, 1);
}

.user_circle:hover {
    cursor: pointer;
    background-color: rgba(12, 46, 98, 0.12);
}

.btn_dark {
    background-color: rgba(42, 54, 71, 1);
    border-radius: 8px;
    color: white;
    font-family: 'Inter';
    font-weight: bold;
    border-width: 0px;
}

.btn_dark:hover {
    background-color: rgba(41, 171, 226, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.btn_dark:active {
    background: rgba(9, 25, 49, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.btn_white {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    border: 1px solid rgba(42, 54, 71, 1);
    color: rgba(42, 54, 71, 1);
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.btn_white:hover {
    border: 2px solid rgba(41, 171, 226, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: rgba(41, 171, 226, 1);
}

.btn_white:active {
    border: 1px solid rgba(9, 25, 49, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: rgba(9, 25, 49, 1);
}

.nav_items {
    gap: 15px;
    margin-top: 100px;
}

.nav_item {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 8px 56px 8px 56px;
    height: 46px;
    gap: 8px;
    color: rgba(205, 205, 205, 1);
}

.nav_item:hover {
    cursor: pointer;
    background-color: rgba(42, 61, 89, 1)
}

.nav_item_active {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 8px 56px 8px 56px;
    height: 46px;
    gap: 8px;
    background-color: rgba(9, 25, 49, 1);
}

.nav_active {
    width: 100%;
    color: rgba(255, 255, 255, 1);
}

.nav_privacy_legal {
    width: 100%;
    padding-top: 243px;
    gap: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
}

.pp_ln {
    display: flex;
    align-items: center;
}

.pp_ln_active {
    display: flex;
    align-items: center;
    width: 232px;
    height: 35px;
    padding-left: 60px;
    background-color: rgba(9, 25, 49, 1);
    cursor: default;
}

.pp_ln_active a:hover {
    all: unset !important;
    color: rgba(168, 168, 168, 1) !important;
}

.nav_privacy_legal a {
    padding: 8px 0px 8px 0px;
}

.nav_privacy_legal a:hover {
    font-weight: 700;
    color: rgba(41, 171, 226, 1);
}

.small_logout_win {
    height: 158px;
    width: 150px;
    background-color: rgba(42, 54, 71, 1);
    top: 96px;
    right: 50px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 16px;
    line-height: 120%;
    padding: 10px;
}

.small_logout_link {
    width: 130px;
    height: 46px;
    padding: 8px;
    color: rgba(205, 205, 205, 1);
}

.small_logout_link:hover {
    cursor: pointer;
    background-color: rgba(42, 61, 89, 1);
}

.help_icon {
    height: 32px;
    width: 32px;
}

.help_icon:hover {
    transform: scale(1.2);
}

#overlay-small-logout-win {
    z-index: 1;
    top: 0;
    left: 0;
}

.input_icon_wrapper {
    position: relative;
    width: 420px;
    margin-bottom: 10px;
}

.input_icon_wrapper .input_icon {
    position: absolute;
    right: 12px;
    top: 25%;
    transform: translateY(-25%);
    width: 20px;
    height: 20px;
    pointer-events: none;
}

.input_icon_wrapper input {
    width: 100%;
    padding: 10px 40px 10px 10px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid rgba(209, 209, 209, 1);
}

.input_icon_wrapper input::placeholder {
    color: rgba(209, 209, 209, 1);
}

.input_icon_wrapper input:focus {
    outline-color: rgba(41, 171, 226, 1);
    color: rgba(0, 0, 0, 1)
}

.input_error {
    color: #e53935;
    margin-top: 4px;
    min-height: 18px;
}

.privacy_policy_wrapper {
    width: 100%;
    height: 100vh;
}

.help_wrapper {
    padding-right: 96px;
    padding-bottom: 110px;
}

.help_list {
    list-style: decimal;
}

.help_btn_back {
    background: none;
    border: none;
    position: sticky;
    top: 194px;
    left: 1307px;
    height: 32px;
    width: 32px;
    object-fit: cover;
}

.help_btn_back:hover {
    border-radius: 50%;
    background-color: gray;
}

.fc_blue {
    color: rgba(41, 171, 226, 1);
}

.link_container{
    width: 105px;
}