body {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    background-color: rgba(246, 247, 248, 1);
    max-width: 1440px;
    margin: 0 auto;
}

header {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 1);
    padding: 20px 40px 20px 348px;
}

nav {
    padding-bottom: 64px;
    background-color: rgba(42, 54, 71, 1);
    width: 232px;
    height: auto;
    top: 0;
    left: 0;
    color: rgba(255, 255, 255, 1);
}

.logo_navbar {
    width: 100px;
    padding-top: 64px;
    padding-bottom: 64px;
}

.header_icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user_circle {
    font-weight: 700;
    border-radius: 50%;
    border-style: solid;
    border-color: rgba(42, 54, 71, 1);
    border-width: 3px;
    width: 56px;
    height: 56px;
    color: rgba(41, 171, 226, 1);
}

.btn_dark {
    background-color: rgba(42, 54, 71, 1);
    border-radius: 8px;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    border-width: 0px;
}

.btn_white {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    border: 1px solid rgba(42, 54, 71, 1);
    color: rgba(42, 54, 71, 1);
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.nav_items {
    gap: 15px;
    margin-top: 100px;
}

.nav_item {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 8px 56px 8px 56px;
    height: 46px;
    gap: 8px;
    color: rgba(205, 205, 205, 1);
}

.nav_item:hover {
    cursor: pointer;
    background-color: rgb(57, 73, 96)
}

.nav_item_active {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 8px 56px 8px 56px;
    height: 46px;
    gap: 8px;
    background-color: rgba(9, 25, 49, 1);
}

.nav_privacy_legal{
    padding-top: 243px;
    padding-left: 52px;
    gap: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
}

.nav_privacy_legal a{
    padding: 8px;
}

.nav_privacy_legal a:hover{
    font-weight: 700;
    color: rgba(41, 171, 226, 1);
}

.small_logout_win{
    height: 158px;
    width: 150px;
    background-color: rgba(42, 54, 71, 1);
    top: 96px;
    right: 50px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 16px;
    line-height: 120%;
    color: rgba(205, 205, 205, 1);
    padding: 10px;
}

.small_logout_link{
    width: 130px;
    height: 46px;
    padding: 8px;
}

.small_logout_link:hover{
    cursor: pointer;
    background-color: rgba(42, 61, 89, 1);
}