@font-face {
  font-family: "Inter";
  src: url(./Inter-VariableFont_opsz\,wght.ttf);
}

@font-face {
  font-family: "Open Sans";
  src: url(./OpenSans-VariableFont_wdth\,wght.ttf);
}

h1 {
  font-family: "Inter";
  font-size: clamp(2rem, 5vw + 1rem, 4rem);
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  line-height: 120%;
}

h2 {
  font-family: "Inter";
  font-weight: bold;
    font-size: clamp(1.5rem, 3vw + 1rem, 2.5rem);
}

h3 {
  font-family: "Inter";
  font-weight: 400;
    font-size: clamp(1.2rem, 2.5vw + 1rem, 1.8rem);
  line-height: 120%;
  color: rgba(42, 54, 71, 1);
}

h4 {
  font-family: "Inter";
  font-weight: bold;
    font-size: clamp(1rem, 2vw + 0.5rem, 1.5rem);
}

.font_12 {
  font-size: 12px;
}