@media (max-width: 1400px) {
    header {
        padding: 20px 40px;
    }

    main {
        width: 100%;
        position: unset !important;
        padding: unset;
        padding-top: 5%;
        margin-top: 96px;
        overflow: auto;
    }

    main>div {
        padding: 0 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    nav {
        flex-direction: row !important;
        left: 0;
        top: calc(100% - 8.6%);
        width: 100%;
        height: 8.6% !important;
        padding: 0;
    }

    .logo_navbar {
        display: none;
    }

    .logo_header_mobile {
        display: unset !important;
    }

    .header_mobile_container {
        display: flex !important;
    }

    .nav_items {
        justify-content: space-around !important;
        flex-direction: row;
        width: 100%;
        height: 100%;
        gap: 0px;
    }

    .nav_items a {
        width: unset !important;
    }

    .nav_item_active {
        flex-direction: column;
        justify-content: center !important;
        align-items: center;
        min-width: 80px;
        width: unset;
        height: 100%;
        border-radius: 16px;
        font-size: 0.875rem;
        padding: 0;
        gap: 4px;
    }

    .nav_item_active img,
    .nav_item img {
        width: 100%;
        height: 32%;
    }

    .nav_item {
        flex-direction: column;
        justify-content: center !important;
        width: 80px;
        height: 76px;
        padding: 0;
        font-size: 0.875rem;
    }

    .nav_privacy_legal {
        display: none !important;
    }

}

@media (max-width: 1140px) {
    main {
        margin: 0;
        width: 100%;
        padding: unset;
        left: unset;
        top: unset;
        overflow: auto;
    }

    main > div {
        margin-top: 16%;
    }

}

@media (max-width: 640px) and (orientation: portrait) {
    body {
        height: 100vh;
        width: 100vw;
        overflow: hidden;
    }

    header {
        height: 8.6%;
        width: 100%;
        position: unset;
        padding: unset;
    }

    .header_container {
        width: 100%;
        padding: 10px;
    }

    .header_content {
        display: none;
    }

    .help_content a {
        display: none;
    }

    .user_circle {
        width: 40px;
        height: 40px;
        font-size: 1rem;
    }

    nav {
        flex-direction: row !important;
        left: 0;
        top: calc(100% - 8.6%);
        width: 100%;
        height: 8.6% !important;
        padding: 0;
    }

    .logo_navbar {
        display: none;
    }

    .logo_header_mobile {
        display: unset !important;
    }

    .header_mobile_container {
        display: flex !important;
    }

    .nav_items {
        justify-content: space-around !important;
        flex-direction: row;
        width: 100%;
        height: 100%;
        gap: 0px;
    }

    .nav_items a {
        width: unset !important;
    }

    .nav_item_active {
        flex-direction: column;
        justify-content: center !important;
        align-items: center;
        min-width: 80px;
        width: unset;
        height: 100%;
        border-radius: 16px;
        font-size: 0.875rem;
        padding: 0;
        gap: 4px;
    }

    .nav_item_active img,
    .nav_item img {
        width: 100%;
        height: 32%;
    }

    .nav_item {
        flex-direction: column;
        justify-content: center !important;
        width: 80px;
        height: 76px;
        padding: 0;
        font-size: 0.875rem;
    }

    .nav_privacy_legal {
        display: none !important;
    }

    .small_logout_win {
        height: 200px;
        top: 7%;
        right: 2%;
    }

    .small_logout_win_help {
        display: flex !important;
    }


    main {
        margin: 0;
        width: 100%;
        height: 82.8%;
        padding: unset;
        left: unset;
        top: unset;
        overflow: auto;
    }

    .board_wrapper {
        height: 100%;
        max-width: unset;
        display: flex;
        justify-content: center;
    }

    .headline {
        position: unset;
        width: 96.6%;
        padding: 0;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
        padding-top: 40px;
    }

    .find_add {
        width: 100%;
    }

    .find_add button {
        position: absolute;
        top: 50px;
        left: 88%;
        width: 10%;
    }

    .find_add button span {
        display: none;
    }

    .find_task_input {
        width: 100% !important;
    }


    content {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        flex-direction: column;
        align-items: center;
    }

    .board_column {
        width: 96.6%;
        align-items: center;
        max-height: unset;
    }

    .board_column_head {
        width: 100%;
    }

    .card_column {
        min-height: unset;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 3.4%;
        overflow-x: auto;
    }

    .card_column {
        min-height: unset;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 3.4%;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .task_card {
        width: 46%;
        flex: 0 0 46%;
        max-width: 46%;
        box-sizing: border-box;
        height: 95%;
        margin: 0;
    }

    .task_content {
        font-size: 0.875rem;
    }

}