@media (max-width: 1400px) {
    header {
        height: 8.6%;
        padding: 20px 40px;
    }

    main {
        top: 8.6%;
        left: 0;
        width: 100%;
        height: 82.8%;
        padding: unset;
        padding-top: 5%;
        overflow: auto;
    }

    main>div {
        padding: 0 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    nav {
        flex-direction: row !important;
        left: 0;
        top: calc(100% - 8.6%);
        width: 100%;
        height: 8.6% !important;
        padding: 0;
        z-index: 1;
    }

    .logo_navbar {
        display: none;
    }

    .logo_header_mobile {
        display: unset !important;
    }

    .header_mobile_container {
        display: flex !important;
    }

    .nav_items {
        justify-content: space-around !important;
        flex-direction: row;
        width: 100%;
        height: 100%;
        gap: 0px;
    }

    .nav_items a {
        width: unset !important;
    }

    .nav_item_active {
        flex-direction: column;
        justify-content: center !important;
        align-items: center;
        min-width: 80px;
        width: unset;
        height: 100%;
        border-radius: 16px;
        font-size: 0.875rem;
        padding: 0;
        gap: 4px;
    }

    .nav_item_active img,
    .nav_item img {
        width: 100%;
        height: 32%;
    }

    .nav_item {
        flex-direction: column;
        justify-content: center !important;
        width: 80px;
        height: 76px;
        padding: 0;
        font-size: 0.875rem;
    }

    .nav_privacy_legal {
        display: none !important;
    }

    content {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        flex-direction: column;
        align-items: center;
    }

    .board_wrapper {
        max-width: unset;
        width: 100%;
        padding: 0;

    }

    .board_column {
        width: 96.6%;
        align-items: center;
        max-height: unset;
    }

    .board_column_head {
        width: 100%;
    }

    .card_column {
        min-height: unset;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 3.4%;
        overflow: auto;
    }

    .mobile_move_btn {
        display: flex;
        width: 10%;
        height: auto;
    }

    .task_card {
        flex: 0 0 100%;
        max-width: 250px;
        box-sizing: border-box;
        height: 95%;
        margin: 0;
    }

    .task_card:active{
    rotate: unset;
    cursor: unset;
}

    .headline {
        position: unset;
        width: 95%;
        padding: 0;
        gap: 2%;
    }

    .find_add {
        gap: 2%;
    }
}

@media (max-width: 1140px) {
    main {
        margin: 0;
        width: 100%;
        overflow: auto;
    }

}

@media (max-width: 640px) and (orientation: portrait) {
    body {
        height: 100vh;
        width: 100vw;
    }

    header {
        height: 8.6%;
        width: 100%;
        padding: unset;
    }

    .header_container {
        width: 100%;
        padding: 10px;
    }

    .header_content {
        display: none;
    }

    .help_content a {
        display: none;
    }

    .user_circle {
        width: 40px;
        height: 40px;
        font-size: 1rem;
    }

    nav {
        flex-direction: row !important;
        left: 0;
        top: calc(100% - 8.6%);
        width: 100%;
        height: 8.6% !important;
        padding: 0;
    }

    .logo_navbar {
        display: none;
    }

    .logo_header_mobile {
        display: unset !important;
    }

    .header_mobile_container {
        display: flex !important;
    }

    .nav_items {
        justify-content: space-around !important;
        flex-direction: row;
        width: 100%;
        height: 100%;
        gap: 0px;
    }

    .nav_items a {
        width: unset !important;
    }

    .nav_item_active {
        flex-direction: column;
        justify-content: center !important;
        align-items: center;
        min-width: 80px;
        width: unset;
        height: 100%;
        border-radius: 16px;
        font-size: 0.875rem;
        padding: 0;
        gap: 4px;
    }

    .nav_item_active img,
    .nav_item img {
        width: 100%;
        height: 32%;
    }

    .nav_item {
        flex-direction: column;
        justify-content: center !important;
        width: 80px;
        height: 76px;
        padding: 0;
        font-size: 0.875rem;
    }

    .nav_privacy_legal {
        display: none !important;
    }

    .small_logout_win {
        height: 200px;
        top: 7%;
        right: 2%;
    }

    .small_logout_win_help {
        display: flex !important;
    }

    .headline {
        flex-direction: column;
    }

    .headline_mobile_wrapper{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

    .headline_mobile_wrapper button {
        display: flex !important;
        width: 10%;
        height: 80%;
        padding: 0;
    }

    .find_add {
        width: 100%;
        flex-direction: column;
        margin-top: 5%;
    }

    .find_task_input {
        width: 100% !important;
    }

    .find_add>button {
        display: none;
    }

    .task_detail_entry {
        width: 95%;
        max-height: 80%;
        padding: 5%;
    }

    .category_detail, 
    .task_detail_description,
    .detail_head,
    .assigned_contact,
    .title_input,
    .input_task_detail,
    .input_textarea_detail,
    .date,
    .priority_button
      {
        font-size: 1rem;
    }

    .priority_button_container {
        min-height: 200px;
        flex-direction: column;
    }

    .input_assigned_to {
        width: 100% !important;
        font-size: 1rem;
    }

    #assigned-contacts-preview {
        margin-top: 2%;
    }

    .input_icon_wrapper {
        width: 100%;
    }

    .task_detail_view_footer {
        height: 100%;
    }
}