<!-- templates/edit_Contacts.html -->
<div class="overlayContainerCloseButton closebuttonBlue" onclick="closeOverlay()">
  <img class="closebuttonIcon" src="../assets/icons/close.svg" alt="X">
  <img class="closebuttonIconWhite" src="../assets/icons/close.svg" alt="X">
</div>

<div class="overlayContainerLeft">
  <h1>Edit Contact</h1>
  <div class="dividerHorizontal"></div>
</div>

<div class="overlayContainerRight">
  <div class="addContactIcon" id="editContactInitials"></div>
  <form id="edit-contact-form" onsubmit="saveChangesToContact(); return false;">
    <div class="inputContainer">
      <input id="contact-namefield" type="text" placeholder="Name" required>
      <i class="inputIcon userIcon"></i>
    </div>
    <div class="inputContainer">
      <input id="contact-emailfield" type="email" placeholder="Email" required>
      <i class="inputIcon emailIcon"></i>
    </div>
    <div class="inputContainer">
      <input id="contact-phonefield" type="tel" placeholder="Phone" required>
      <i class="inputIcon phoneIcon"></i>
    </div>
    <div class="overlayButtons">
      <button type="button" class="btnClear" onclick="deleteContact(); closeOverlay(); hideContactDetailsArea();">Delete</button>
      <button type="submit" class="btnPrimary">Save</button>
    </div>
  </form>
</div>
