<div class="overlay_content_inner">

  <div class="overlay_container_close_button closebutton_blue" onclick="closeOverlay()">
  </div>

  <div class="overlay_container_left">
    <img class="join_logo" src="../assets/icons/joinLogoSidebar.svg" alt="Join Logo" />
    <h1>Edit Contact</h1>
    <div class="divider_horizontal"></div>
  </div>

  <div class="form_layout">
    <div class="overlay_contact_circle" id="edit-contact-initials"></div>
  </div>

  <div class="overlay_container_right">

    <form id="edit-contact-form">
      <div class="input_icon_wrapper">
        <input id="contact-namefield" type="text" placeholder="Name" onblur="validateInput('contact-namefield')" />
        <i class="input-icon user-icon" aria-hidden="true"></i>
        <div class="input_error d_none" id="error-contact-namefield"></div>
      </div>
      <div class="input_icon_wrapper">
        <input id="contact-emailfield" type="text" placeholder="Email" onblur="validateInput('contact-emailfield')" />
        <i class="input-icon email-icon" aria-hidden="true"></i>
        <div class="input_error d_none" id="error-contact-emailfield"></div>
      </div>
      <div class="input_icon_wrapper">
        <input id="contact-phonefield" type="text" placeholder="Phone" onblur="validateInput('contact-phonefield')" />
        <i class="input-icon phone-icon" aria-hidden="true"></i>
        <div class="input_error d_none" id="error-contact-phonefield"></div>
      </div>
      <div class="overlay_buttons">
        <button class="delete_btn margin_0" onclick="bindDetailDelete(c); closeOverlay(); hideContactDetailsArea();">
          Delete
        </button>
        <button id="btnSaveContact" class="safe_btn margin_0" type="submit">
          Save
          <img src="../assets/icons/check.svg" alt="check icon" class="check_icon" />
        </button>
      </div>
    </form>
  </div>
</div>
