<!-- templates/new_contact.html -->
<div class="overlay_content_inner">
  <!-- Close-Button oben rechts -->
  <div class="overlay_container_close_button closebutton_blue" onclick="closeOverlay()">
    <img class="closebutton_icon" src="../assets/icons/close.svg" alt="X" />
    <img class="closebutton_icon_white" src="../assets/icons/close.svg" alt="X" />
  </div>

  <div class="overlay_container_left">
    <h1>Add Contact</h1>
    <p class="overlay_subtitle">Tasks are better with a team!</p>
    <div class="divider_horizontal"></div>
  </div>

  <div class="overlay_container_right">
    <div class="form_layout">
      <div class="add_contact_icon"></div>
    </div>
    <form id="addnew-contact-form" onsubmit="postToDatabase(); return false;">
      <div class="input_icon_wrapper">
        <input id="contact-namefield" type="text" placeholder="Name" required />
        <i class="input-icon user-icon"></i>
      </div>
      <div class="input_icon_wrapper">
        <input id="contact-emailfield" type="email" placeholder="Email" required />
        <i class="input-icon email-icon"></i>
      </div>
      <div class="input_icon_wrapper">
        <input id="contact-phonefield" type="tel" placeholder="Phone" required />
        <i class="input-icon phone-icon"></i>
      </div>
      <div class="overlay_buttons">
        <button type="button" class="btn_cancel" onclick="closeOverlay()">
          <span>Cancel</span>
          <img src="../assets/icons/cancel.svg" alt="cancel icon" class="cancel_icon" />
        </button>
        <button type="submit" class="btn_create_contact">
          <span>Create contact</span>
          <img src="../assets/icons/check.svg" alt="check icon" class="check_icon" />
        </button>
      </div>
    </form>
  </div>
</div>