<!-- templates/new_contact.html -->
 <div id="overlayContainer" class="overlay-container"></div>
<div class="overlayContainerCloseButton closebuttonBlue d-flex-c-c" onclick="closeOverlay()">
  <img class="closebuttonIcon" src="./assets/icons/close.svg" alt="X">
  <img class="closebuttonIconWhite" src="./assets/icons/close.svg" alt="X">
</div>

<div class="overlayContainerLeft d-flex-clm">
  <h1>Add contact</h1>
  <p class="overlaySubtitle">Tasks are better with a team!</p>
  <div class="dividerHorizontal"></div>
</div>

<div class="overlayContainerRight d-flex-clm">
  <div class="addContactIcon"></div>
  <form id="addnew-contact-form" class="overlay-form d-flex-clm gap24" onsubmit="saveNewContact(); return false;">
    <div class="inputContainer">
      <input id="contact-namefield" type="text" placeholder="Name" required>
      <i class="inputIcon userIcon"></i>
    </div>
    <div class="inputContainer">
      <input id="contact-emailfield" type="email" placeholder="Email" required>
      <i class="inputIcon emailIcon"></i>
    </div>
    <div class="inputContainer">
      <input id="contact-phonefield" type="tel" placeholder="Phone" required>
      <i class="inputIcon phoneIcon"></i>
    </div>
    <div class="overlayButtons">
      <button type="button" class="btnClear" onclick="closeOverlay()">Cancel</button>
      <button type="submit" class="btnPrimary">Create contact</button>
    </div>
  </form>
  </div>  

</div>