.add_task_content {
  margin: 0;
  margin-top: 24px;
  width: 988px;
}

.title_input {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.red_star {
  color: rgba(255, 129, 144, 1);
}

.description_input {
  margin-top: 8px;
  font-size: 20px;
}

.task_entries {
  display: flex;
  justify-content: start;
  flex-direction: column;
  margin-left: 0;
  margin-right: 0;
  width: 440px;
  gap: 24px;
}

.textarea_wrapper{
  position: relative;
  display: inline-block;
}

.resize_icon{
  position: absolute;
  bottom: 11px;
  right: 5px;
  width: 16px;
  height: 16px;
  background: url('/assets/icons/resize_icon.svg') no-repeat center center;
  background-size: contain;
  pointer-events: none;
}

textarea {
  font-family: "Inter", "sans-serif";
  width: 100%;
  height: 120px;
  padding: 18px 16px 18px 16px;
  font-size: 20px;
  font-weight: 400;
  border-radius: 10px;
  border: 1px solid rgba(209, 209, 209, 1);
  resize: none;
  padding-bottom: 20px; 
}

textarea::placeholder {
  color: rgba(209, 209, 209, 1);
}

textarea:focus {
  outline-color: rgba(41, 171, 226, 1);
}

input {
  font-family: "Inter", sans-serif;
  color: rgba(0, 0, 0, 1);
  resize: none;
  width: 100%;
  padding: 12px 21px 12px 21px;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid rgba(209, 209, 209, 1);
}

input::placeholder {
  color: rgba(209, 209, 209, 1);
}

input:focus {
  outline-color: rgba(41, 171, 226, 1);
}

input[type="date"]:invalid::-webkit-datetime-edit {
  color: rgba(209, 209, 209, 1);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: url(/assets/icons/calender.svg) no-repeat;
}

.input_icon_wrapper {
  width: 440px;
}

.vector_4 {
  width: 1px;
  height: 424px;
  background-color: rgba(209, 209, 209, 1);
}

.priority_button_container {
  margin-left: 0;
  margin-right: 0;
}

.priority_button {
  border-radius: 10px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  padding: 16px 10px 16px 10px;
  width: 136px;
  margin: 0;
  gap: 8px;
  font-size: 21px;
  font-weight: 400;
  background-color: rgba(255, 255, 255, 1);
}

.priority_button:hover {
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.priority_button img {
  margin: 0;
}

.urgent_set {
  background-color: rgba(255, 61, 0, 1);
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
}

.urgent_set:hover {
  box-shadow: unset;
  cursor: pointer;
}

.medium_set {
  background-color: rgba(255, 168, 0, 1);
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
}

.medium_set:hover {
  box-shadow: unset;
  cursor: pointer;
}

.low_set {
  background-color: rgba(122, 226, 41, 1);
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
}

.low_set:hover {
  box-shadow: unset;
  cursor: pointer;
}

.arrow_drop {
  display: flex;
  justify-content: center;
  align-items: center;
  rotate: 0deg;
  color: (42, 54, 71, 1);
}

.up {
  rotate: 180deg;
}

.assigned_to_dropdown::placeholder {
  color: black;
}

.assigned_to_dropdown:focus::placeholder {
  color: transparent;
}

.select_category_dropdown {
  border-style: solid;
  border-color: rgba(209, 209, 209, 1);
  border-radius: 10px;
  border-width: 1px;
  width: 440px;
  padding: 12px 16px 12px 16px;
  background-color: rgba(255, 255, 255, 1);
}

.input_assigned_to {
  height: 45px;
  width: 440px !important;
  z-index: 3;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid rgba(209, 209, 209, 1);
}

.add_icon {
  background-image: url(/assets/icons/add_subtasks_icon.svg);
  background-size: cover;
  height: 14px;
  width: 14px;
}

.close_add_task{
  position: absolute;
  left: 1044px;
  top: 64px;
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}


.close_add_task:hover {
  cursor: pointer;
  background-color: rgba(238, 238, 238, 1);
}

.close_add_task:active{
  background-color: rgba(41, 171, 226, 1);
}

.close_add_task:before, .close_add_task:after {
  position: absolute;
  content: " ";
  height: 16px;
  width: 2px;
  background-color: rgba(42, 54, 71, 1);
  border-radius: 2px;
}

.close_add_task:before {
  transform: rotate(45deg);
}

.close_add_task:after {
  transform: rotate(-45deg);
}

.close_add_task:active::before,
.close_add_task:active::after {
  background-color: rgba(255, 255, 255, 1);
}

.add_task_button {
  padding: 16px;
  width: unset;
  height: unset;
}

.add_task_button_container {
  height: 60px;
  width: 334px;
}

.close_cross {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
}


.close_cross:before, .close_cross:after {
  position: absolute;
  content: " ";
  height: 16px;
  width: 2px;
  background-color: rgba(42, 54, 71, 1);
  border-radius: 2px;
}

.close_cross:before {
  transform: rotate(45deg);
}

.close_cross:after {
  transform: rotate(-45deg);
}

.btn_white:hover .close_cross::before,
.btn_white:hover .close_cross::after {
    background-color: rgba(41, 171, 226, 1);
    cursor: pointer;
}

.btn_white:active .close_cross::before,
.btn_white:active .close_cross::after {
    background-color: rgba(9, 25, 49, 1);
}

 .add_task_footer {
  z-index: 2;
  position: absolute;
  width: 988px;
  top: 750px;
 }

 .category {
  width: 440px;
  padding: 12px 16px 12px 16px;
  border-radius: 10px;
 }

 .category:hover {
  cursor: pointer;
  background-color: rgba(209, 209, 209, 1);;
 }

 .add_or_remove{
  position: absolute;
  right: 10px;
 }

 .add_or_remove img{
  height: 24px;
 }

 .added_subtask{
  padding: 4px 16px 4px 16px;
  font-size: 16px;
  border-radius: 10px;
  height: 32px;
 }

 .added_subtask_list {
  max-height: 150px;
  overflow-x: scroll;
 }

 .subtask_edit_icons{
  display: none;

 }

 .vector-subtask{
  height: 24px;
 }

.added_subtask:hover{
  cursor: pointer;
  background-color: rgba(238, 238, 238, 1);
 }

.added_subtask:hover .subtask_edit_icons{
  display: flex;
  cursor: pointer;
}

 ul{
  padding: 0;
 }

 .subtask_edit_input input{
  height: 32px;
  font-size: 16px;
  padding: 4px 16px 4px 16px;
  border-top: unset;
  border-left: unset;
  border-right: unset;
  border-color: rgba(0, 93, 255, 1);
  border-radius: unset;
 }

.subtask_edit_input input:focus{
  outline: unset;
}

.edit_check_delete {
  position: unset;
}

.edit_check_delete_container {
  right: 16px;
}

.edit_input{
  padding-right: 75px !important;
}