main{
    margin: 0 auto;
    left: 232px;
    top: 96px;
    padding-left: calc(328px - 232px);
    padding-top: calc(206px - 96px);
    width: calc(100% - 232px);
    height: calc(100vh - 96px);
}

.input_icon_wrapper:hover {
    cursor: pointer;
}

input:hover {
    cursor: pointer;
}

.input_icon_container {
    height: 32px !important;
    width: 32px !important;
    position: absolute;
    right: 12px;
    
}

.input_icon_container:hover{
    background-color: rgba(238, 238, 238, 1);
    border-radius: 50%;
}

.input_icon_container:active {
    background-color: unset;
}

.search_icon{
    background-image: url(/assets/icons/search.svg);
    background-size: contain;
    height: 17.58px;
    width: 17.58px;
}

.input_icon_container:active .search_icon{
    background-image: url(/assets/icons/search_active.svg);
    background-color: unset;
}