* {
    margin: 0;
}

body{
    overflow-y: hidden;
    overflow-x: hidden;
}

main{
    overflow-x: auto;
    margin: 0;
    left: 232px;
    top: 96px;
    padding-left: calc(328px - 232px);
    padding-top: calc(206px - 96px);
    width: calc(100% - 232px);
    height: calc(100vh - 96px);
}

h1{
    margin: 0;
}

.headline{
    width: 1056px;
    position: absolute;
    left: 0;
    padding-left: 64px;
}

.vector {
    position: absolute;
    right: 60px;
}

.input_icon_container {
    height: 24px !important;
    width: 24px !important;
    position: absolute;
    right: 12px;
}

.input_icon_container:hover{
    cursor: pointer;
    background-color: rgba(238, 238, 238, 1);
    border-radius: 50%;
}

.input_icon_container:active {
    background-color: unset;
}

.search_icon{
    background-image: url(/assets/icons/search.svg);
    background-size: cover;
    height: 17.58px;
    width: 17.58px;
}

.input_icon_container:active .search_icon{
    background-image: url(/assets/icons/search_active.svg);
    background-color: unset;
}

button {
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    width: 160px;
    height: 48px;
    font-size: 21px;
    padding: 12px 16px 12px 16px;
    gap: 4px;
}

.plus {
    width: 18.67px;
    height: 18.67px;
}

.find_add{
    gap: 32px;
    margin: 0;
}

.find_task_input{
    width: 312px !important; 
}

.board_wrapper {
    width: 100%;
    height: 100vh;
}

content{
    position: absolute;
    width: 1208px;
    height: 500px;
    margin-top: 50px;
    padding-right: 64px;
    padding-left: 64px;
    gap: 26px;
    left: 0;
    top: 200.5px;
}

.board_column{
    display: flex;
    flex-direction: column;
    width: 252px;
    max-height: 700px;
}

.board_column_head{
    width: 244px;
    font-weight: 700;
    font-size: 20px;
    color:rgba(66, 82, 110, 1);
}

.plus_button{
    background-image: url(/assets/icons/plus_button.svg);
    width: 24px;
    height: 24px;
}

.plus_button:hover{
    background-image: url(/assets/icons/plus_button_hover.svg);
    cursor: pointer;
}

.plus_button:active{
    background-image: url(/assets/icons/plus_button_active.svg);
}

.no_task{
    color: rgba(168, 168, 168, 1);
    font-family: "Open Sans";
    height: 48px;
    width: 100%;
    background-color: rgba(231, 231, 231, 1);
    border-radius: 10px;
    border-style: dotted;
    border-width: 1px;
    margin: 0 !important;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.016);;
}

.card_column{
    min-height: 800px;
    padding-top: 12px;
}

.task_card{
    margin-bottom: 10px;
    width: 252px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 24px;
    padding: 16px;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.08)
}

.task_card:hover{
    cursor: pointer;
}

.task_card:active{
    rotate: 5deg;
    cursor: grabbing;
}

.task_content{
    display: flex;
    flex-direction: column;
}

.card_label{
    width: fit-content;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 56, 255, 1);
    padding: 4px 16px 4px 16px;
    border-radius: 8px;
    gap: 10px;
}

.task_description{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
    margin-top: 24px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.task_title{
    font-weight: 700;
    font-size: 16px;
    color: rgba(42, 54, 71, 1);
}

.task_content{
    font-weight: 400;
    font-size: 16px;
    color: rgba(168, 168, 168, 1);
}

.subtask_progress{
    height: 8px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}

.progress_bar{
    width: 128px;
    height: 8px;
    background-color: rgba(244, 244, 244, 1);
    border-radius: 16px;
    margin-right: 6px;
}

.progress_status{
    height: 8px;
    background-color: rgba(69, 137, 255, 1);
    border-radius: 16px;
}

.subtasks{
    display: flex;
    justify-content:center;
    flex-direction: row;
    color: rgba(0, 0, 0, 1);
    font-size: 12px;
}

.task_card_footer{
    margin: 24px 0 0 15px;
}

.profile_badges{
    width: 80px;
}

.profile_badge{
    color: white;
    position: relative;
    margin-left: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 45px;
}

.priority_symbol_container{
    width: 32px;
    padding: 10px 18px 10px 18px;
}

.task_overlay{
    box-sizing: border-box;
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.add_task_entry{
    padding: 64px;
    position: relative;
    top: 60px;
    width: 1116px;
    height: 870px;
    border-radius: 30px;
    background-color: white;
    transform: translateX(200%);
    transition: transform 0.3s ease;
    z-index: 4;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}

.add_task_entry.show {
    transform: translateX(0);
    /* transition: transform 2.3s ease; */
}

.portrait_placeholder {
    width: 100vw;
    height: 100vh;
    background-color: rgba(246, 247, 248, 1);
    display: none;

}

.portrait_placeholder > p {
    width: 100%;
    height: 100%;
    background-color: rgba(246, 247, 248, 1);
    z-index: 5000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 5;
    font-size: clamp(1.5rem, 4vw, 3rem);
    color: rgb(42, 54, 71);
    margin: 0;
}

