.contact_dropdown {
  position: relative;
  background-color: white;
  width: 440px;
  max-height: 270px;
  overflow-y: auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.contact_list_item_active {
  background-color: rgba(9, 25, 49, 1) !important;
  border-radius: 8px;
}

.contact_list_item_active:hover {
  background-color: rgba(42, 54, 71, 1) !important;
  border-radius: 8px;
}

.contact_list_item_active .assign_contact_checkbox {
  background-color: rgba(9, 25, 49, 1) !important;
  border-color: rgba(255, 255, 255, 1); 
  background-image: url('../assets/icons/checkbox_active.svg');
}

.contact_list_item_active .check_icon {
  display: block !important;
}

.contact_list_item_active .assign_contact_name {
  color: rgb(255, 255, 255) !important;
}

#add-task-contacts-list {
  width: 100%;
  max-height: calc(5*54px);
  overflow-y: auto;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.assign-contact-list {
  max-height: 240px;
  overflow-y: auto;
  border: 1px solid rgba(204, 204, 204);
  border-radius: 8px;
  padding: 8px;
  margin-top: 4px;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 10;
  position: absolute;
  width: 100%;
}

.assign_contact_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  border-radius: 8px;
  transition: background 0.2s;
  cursor: pointer;
}

.assign_contact_row:hover {
  background-color: rgb(238, 238, 238, 1);
  /* ein sanftes Grau */
}

.assign_contact_left {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: initial;
}

.contact_circle {
  width: 42px;
  height: 42px;
  font-size: 14px;
  border-radius: 50%;
  background-color: gray;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.assign_contact_name {
  font-size: 16px;
  font-weight: 400;
  color: black;
}

.assign_contact_checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid rgba(42, 54, 71, 1);
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s, border-color 0.2s;
  margin-right: initial;
}

.assign_contact_checkbox:hover {
  background-image: none;
}

.check_icon {
  width: 20px;
  height: 20px;
  display: none;
  /* Standardmäßig versteckt */
}

.contact_list_item_active .check_icon {
  display: block;
}

.assigned_circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 500;
  color: white;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
}
