
.contact_dropdown {
  position: relative;
  background-color: white;
  width: 440px;
  max-height: 270px;
  overflow-y: auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#add-task-contacts-list{
  width: 100%;
  max-height: calc(5*54px);
  overflow-y: auto;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.assign-contact-list {
  max-height: 240px;
  overflow-y: auto;
  border: 1px solid rgba(204, 204, 204);
  border-radius: 8px;
  padding: 8px;
  margin-top: 4px;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 10;
  position: absolute;
  width: 100%;
}

.assign_contact_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  border-radius: 8px;
  transition: background 0.2s;
  cursor: pointer;
}

.assign_contact_row:hover {
  background-color: rgb(244, 244, 244);
}

.assign_contact_left {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: initial;
}

.contact_circle {
  width: 42px;
  height: 42px;
  font-size: 14px;
  border-radius: 50%;
  background-color: gray;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.assign_contact_name {
  font-size: 16px;
  font-weight: 400;
  color: black;
}

.assign_contact_checkbox {
  width: 16px;
  height: 16px;
  accent-color: rgba(42, 54, 71);
  cursor: pointer;
  flex-shrink: 0;
  margin-right: initial;
}
