.login_content {
    position: fixed;
    width: 1440px;
    height: 100vh;
}

.login_container {
    margin-top: 70px;
    height: fit-content;
    display: flex;
}

.login_logo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 366px;
    transform: translate(-50%, -50%) scale(1);
    animation: slide 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
    animation-delay: 1s;
    z-index: 1000;
}

.login_logo img {
    max-width: 100%;
    height: auto;
}

@keyframes slide {
    0% {
        top: 50%;
        left: 50%;
        width: 300px;
        height: 350px;
        transform: translate(-50%, -50%) scale(1);
    }

    100% {
        top: 80px;
        left: 100px;
        width: 80px;
        transform: translate(0, 0) scale(1);
    }
}


.fade_out {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.8s;
}

.fade_in {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.8s;
}

.login_head {
    margin-right: 60px;
    align-items: center;
    white-space: nowrap;
}

.login_head span {
    margin-right: 30px;
}


.btn_sign_up {
    width: 125px;
    height: 50px;
    font-size: 20px;
}

.login_bottom {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 94%;
    left: 50%;
    transform: translate(-50%);
}


.login_bottom a {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 50px;
    margin: 8px;
}

.login_bottom a:hover {
    color: rgba(41, 171, 226, 1);
    font-weight: 700;
}

.login_head_wrapper {
    display: grid;
    gap: 16px;
}

.login_underline {
    width: 150px;
    border: 3px solid rgba(41, 171, 226, 1);
    border-radius: 20px;
}

.login_main {
    background-color: rgba(255, 255, 255, 1);
    width: 650px;
    height: 450px;
    border-radius: 30px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.04);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.login_btn {
    height: 50px;
    width: 110px;
    margin-right: 10px;
    font-size: 20px;
}

.guest_login_btn {
    margin-left: 10px;
    height: 50px;
    width: 180px;
    font-size: 20px;
}

.signin_main {
    background-color: rgba(255, 255, 255, 1);
    width: 650px;
    height: 600px;
    border-radius: 30px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.04);
    padding: 13px 15px 16px 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.signin_btn_back {
    background: none;
    border: none;
    position: absolute;
    top: 50px;
    left: 50px;
    height: 32px;
    width: 32px;
    object-fit: cover;
}

.signin_btn_checkbox {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
}

.signin_btn_checkbox_img {
    width: 24px;
    margin-right: 8px;
    user-select: none;
    pointer-events: none;
}

.signin_pp_link{
    color: rgba(41, 171, 226, 1);
}

.signin_pp_link:hover {
    text-decoration: underline;
    font-weight: bold;
}

.signin_span {
    color: rgba(168, 168, 168, 1);

}

.dialog_signin {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}