.login_content {
    position: fixed;
    width: 1440px;
    height: 100vh;
}

.login_container {
    margin-top: 70px;
    height: fit-content;
    display: flex;
}

.login_logo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 366px;
    transform: translate(-50%, -50%) scale(1);
    animation: slide 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
    animation-delay: 1s;
    z-index: 1000;
}

.login_logo img {
    max-width: 100%;
    height: auto;
}

@keyframes slide {
    0% {
        top: 50%;
        left: 50%;
        width: 300px;
        height: 350px;
        transform: translate(-50%, -50%) scale(1);
    }

    100% {
        top: 80px;
        left: 100px;
        width: 80px;
        transform: translate(0, 0) scale(1);
    }
}


.fade_out {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.8s;
}

.fade_in {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.8s;
}

.login_head {
    margin-right: 60px;
    align-items: center;
    white-space: nowrap;
}

.login_head span {
    margin-right: 30px;
}


.btn_sign_up {
    width: 90px;
    height: 50px;
}

.login_bottom {
    position: absolute;
    top: 94%;
    left: 50%;
    transform: translate(-50%);
}

.login_bottom a {
    height: 50px;
    margin: 8px;
}

.login_bottom a:hover {
    color: rgba(41, 171, 226, 1);
    font-weight: 700;
}

.login_head_wrapper {
    display: grid;
    gap: 16px;
}

.login_underline {
    width: 150px;
    border: 3px solid rgba(41, 171, 226, 1);
    border-radius: 20px;
}

.login_main {
    background-color: rgba(255, 255, 255, 1);
    width: 650px;
    height: 450px;
    border-radius: 30px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.04);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.input_icon_wrapper {
    position: relative;
    width: 420px;
    margin-bottom: 20px;
}

.input_icon_wrapper .input_icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    pointer-events: none;
}

.input_icon_wrapper input {
    width: 100%;
    padding: 10px 40px 10px 10px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid rgba(209, 209, 209, 1);
    color: rgba(209, 209, 209, 1);
}

.input_icon_wrapper input:focus {
    outline-color: rgba(41, 171, 226, 1);
    color: rgba(0, 0, 0, 1)
}

.login_btn {
    height: 50px;
    width: 110px;
    margin-right: 10px;
    font-size: 20px;
}

.guest_login_btn {
    margin-left: 10px;
    height: 50px;
    width: 180px;
    font-size: 20px;
}

.signin_main {
    background-color: rgba(255, 255, 255, 1);
    width: 650px;
    height: 450px;
    border-radius: 30px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.04);
    padding: 13px 15px 16px 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.signin_main>*>a {
    color: rgba(41, 171, 226, 1);
    text-decoration: none;
}

.signin_main>*>a:hover {
    color: rgba(41, 171, 226, 1);
    text-decoration: underline;
}