* {
    margin: 0;
}

main {
    margin: 0 auto;
    left: 232px;
    top: 96px;
    padding-left: calc(328px - 232px);
    padding-top: calc(206px - 96px);
    overflow-x: auto;
    width: calc(100vw - 232px);
    height: calc(100vh - 96px);
}

.summary_overview {
    width: 560px;
    height: 562px;
    margin-top: 50px;
    margin-right: 50px;
}

.summary_overview a {
    color: unset;
}

.headline {
    width: 625px;
}

.headline_vector {
    width: 3px;
    height: 59px;
}

.summary_first_row img {
    width: 69px;
    height: 69px;
}

.summary_box {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 30px;
    height: 168px;
    width: 264px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    gap: 18px;
    transition-duration: 80ms;
}

.summary_box:hover {
    transform: scale(1.07);
    background-color: rgba(42, 54, 71, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.summary_box:active {
    transform: scale(1.0);
    color: rgba(0, 0, 0, 1);
    ;
    transition-duration: 100ms;
    background-color: rgba(249, 249, 249, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    gap: 18px;

}

.task_number {
    font-weight: 600;
    font-size: 64px;
    line-height: 120%;
}

.task_name {
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
}

.urgent {
    width: 560px;
    transform-origin: top left;
}


.urgent:hover {
    transform: scale(1.028);
    cursor: pointer;
}

.urgent:active {
    transform: scale(1.0);
    cursor: pointer;
}

.small_box {
    width: 168px;
    gap: 13px;
    padding: 25px;
    text-align: center;
}

.box_item {
    height: 69px;
    width: 69px;
    background-size: contain;
}

.pencil {
    background-size: 69px 69px;
    background-image: url(/assets/icons/pencil_rectangle.svg);
}

.summary_box:hover .check {
    background-image: url(/assets/icons/check_rectangle_hover.svg);
}

.summary_box:active .check {
    background-image: url(/assets/icons/check_rectangle.svg);
}

.summary_box:hover .pencil {
    background-image: url(/assets/icons/pencil_rectangle_hover.svg);
}

.summary_box:active .pencil {
    background-image: url(/assets/icons/pencil_rectangle.svg);
}

.check {
    background-size: 69px 69px;
    background-image: url(/assets/icons/check_rectangle.svg);
}

p {
    font-size: 16px;
    text-align: center;
}

#date {
    font-weight: 700;
    font-size: 21px;
}

.date {
    align-items: start;
    gap: 13px;
}

.inner_left {
    transform-origin: left center;
}

.inner_right {
    transform-origin: right center;
}

.greetings {
    gap: 3px;
}

#user-name {
    font-weight: 700;
    color: rgba(41, 171, 226, 1);
    font-size: 64px;
}

#greeting {
    color: rgba(42, 54, 71, 1);
    font-family: "Inter";
    font-weight: 500;
    font-size: 47px;
}