* {
    margin: 0;
}

main{
    margin: 0 auto;
    left: 232px;
    top: 96px;
    padding-left: calc(328px - 232px);
    padding-top: calc(206px - 96px);
    width: calc(100% - 232px);
    height: calc(100vh - 96px);
}

.summary_overview{
    width: 560px;
    height: 562px;
    margin-top: 50px;
    margin-right: 50px;
}

.headline_vector{
    width: 3px;
    height: 59px;
}

.summary_first_row img{
    width: 69px;
    height: 69px;
}

.summary_box {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 30px;
    height: 168px;
    width: 264px;
    /* padding: 38px 19px 38px 19px; */
    gap: 18px;
}

.task_number{
    font-weight: 600;
    font-size: 64px;
    line-height: 120%;
}

.task_name{
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
}

.urgent {
    width: 560px;
    /* padding: 28px 48px 28px 48px; */
}

.small_box {
    width: 168px;
    gap: 13px;
    padding: 25px;
    text-align: center;
}

p{
    font-size: 16px;
    text-align: center;
}

#date{
    font-weight: 700;
    font-size: 21px;
}

.date{
    align-items: start;
    gap: 13px;
}