.task_detail_entry{
    padding: 48px 40px 48px 40px;
    position: relative;
    top: 60px;
    width: 525px;
    /* height: 870px; */
    border-radius: 30px;
    background-color: white;
    /* transform: translateX(200%);
    transition: transform 0.3s ease; */
    z-index: 4;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
    gap: 24px;
}

    
.task_detail{
    margin: 0;
    width: 150px;
    color: rgba(42, 54, 71, 1);
}

.close_detail_field {
    position: unset;
}

.category_detail {
    font-size: 23px;
    border-radius: 8px;
    padding: 4px 24px 4px 24px;
    color: rgba(255, 255, 255, 1);
    background-color: blue;
}

.task_detail_description{
    font-size: 20px;
}

.detail_head{
    font-size: 20px;
}

#priority{
    gap: 10px;
}