.task_detail_entry {
    margin: auto;
    padding: 48px 40px 48px 40px;
    position: relative;
    top: 60px;
    width: 525px;
    /* height: 870px; */
    border-radius: 30px;
    background-color: white;
    transform: translateX(200%);
    transition: transform 0.3s ease;
    z-index: 4;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
    gap: 24px;
    max-height: 795px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.task_detail_entry.show {
    transform: translateX(0);
    /* transition: transform 2.3s ease; */
}


.task_detail {
    margin: 0;
    width: 150px;
    color: rgba(42, 54, 71, 1);
}

.close_detail_field {
    position: unset;
}

.category_detail {
    font-size: 23px;
    border-radius: 8px;
    padding: 4px 24px 4px 24px;
    color: rgba(255, 255, 255, 1);
    background-color: blue;
}

.task_detail_description {
    font-size: 20px;
}

.detail_head {
    font-size: 20px;
}

#priority {
    gap: 10px;
}

#assigned-contacts {
    gap: 10px;
    padding-left: 20px;
}

.assigned_contact {
    font-size: 19px;
    gap: 16px;
    display: flex;
    align-items: center;
    padding: 7px 16px 7px 16px;
}

.profile_badge {
    font-size: 12px;
}

#subTasks-detail-view {
    margin: 0;
    gap: 4px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: self-start;
}

.subtask_detail_view {
    display: flex;
    gap: 16px;
    padding: 6px 16px 6px 16px;
}

.checkbox-wrapper:hover,
.checkbox-active-wrapper:hover {
    cursor: pointer;
    background-color: rgba(237, 242, 250, 1);
    border-radius: 43px;
}

.edit_wrapper {
    background-image: url(../assets/icons/edit.svg);
    background-repeat: no-repeat;
    background-size: auto;
    height: 18.25px;
    width: 18.28px;
    background-size: contain;
}

.edit:hover .edit_wrapper {
    background-image: url(../assets/icons/editHover.svg);
    cursor: pointer;
}

.delete_wrapper {
    background-image: url(../assets/icons/delete.svg);
    background-repeat: no-repeat;
    background-size: auto;
    height: 18px;
    width: 16px;
}

.edit:hover  .delete_wrapper{
    background-image: url(../assets/icons/deleteHover.svg);
    background-size: auto;
    cursor: pointer;
}

.task_detail_view_footer {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: end;
    gap: 8px;
    height: 24px;
    align-items: center;
}


.edit:hover{
    cursor: pointer;
    color: rgba(41, 171, 226, 1);
    font-weight: 700;
}

.edit_size{
    width: 55px;
}

.delete_size{
    width: 48px;
}

.vector_3{
    margin: 0;
    height: 24px;
    width: 1px;
    background-color: rgba(209, 209, 209, 1);
}

textarea::placeholder{
    color: black;
}

input{
    width: 100%;
}

input::placeholder{
    color: black;
}

.task_edit_view_container{
    max-height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
    gap: 24px;
}